---
import MainLayout from "../layouts/MainLayout.astro";
import TopNav from "../components/TopNav.astro";
import Hero from "../components/Hero.astro";
---

<MainLayout>
    <div class="font-inter bg-cover bg-center bg-no-repeat bg-[url('/images/abs2.png')]">
        <TopNav current="home"/>
        <Hero />
    </div>
   
</MainLayout>