---
import MainLayout from "../layouts/MainLayout.astro";
import NavButton from "../components/NavButton.astro";
import TopNav from "../components/TopNav.astro";
import Hero from "../components/Hero.astro";
---

<MainLayout>
  <div>
    <TopNav current="home" />
    <Hero />
  </div>
</MainLayout>
